@font-face {
    font-family: 'Zabars';
    src: url('../fonts/zabars.ttf') format('truetype'); 
}  

html {
    height: 100%;
}

body {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    color: rgb(254, 184, 8);
    letter-spacing: 4px;
    height: 100%;
    margin: 0;
    background-image: url('./img/5_background/first_half_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 5rem;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.canvas {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-wrapper {
    position: relative;
    max-width: 720px;
    max-height: 480px;
    height: 100%;
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.start-screen {
    width: 100%;
    height: 100%;
    aspect-ratio: 720 / 480;
    display: flex;
    justify-content: center;
}

.start-screen-img {
    display: block;
    max-width: 720px;
    width: 100%;
    aspect-ratio: 720 / 480;
}


.play-button-container {
    position: absolute;
    top: 2rem;
    display: flex;
    align-items: center;
    
}

.main-button {
    text-align: center;
    font-family: inherit;
    color: rgb(254, 184, 8);
    letter-spacing: 4px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.35);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
    padding: 0.5rem 1.2rem;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.main-button:hover {
    transform: scale(1.05);
}

.main-button:active {
    transform: scale(1);
}


.d-none {
    display: none;
}


.icon-container {
    padding: 0.55rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease-in-out;
    
    
}

.icon-container:hover {
    background-color: #FFC100;
}

.icon {
    display: inline-block;
    width: 24px;
    -webkit-filter: invert(100%)
    drop-shadow(0 0 2px rgb(0 0 0 / 0.25));
    filter: invert(100%)
    drop-shadow(0 0 2px rgb(0 0 0 / 0.25));
    transition: all .25s ease-in-out;
}

.end-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 720 / 480;
    overflow: hidden;
}

.winScreen,
.loseScreen {
    width: 100%;
    height: 100%;
}

.winScreen-img,
.loseScreen-img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 720 / 480;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.winScreen-button-container,
.loseScreen-button-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.op-1 {
    opacity: 1;
}

.icons-mobile {
    position: absolute;
    bottom: 0.5rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    justify-content: right;
    z-index: 0;
   
}

.arrow-icons {
    display: flex;
    gap: 1rem;
  
}

.rotate-message {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.rotate-device {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.d-flex {
    display: flex;
}